body{
  background-color: rgb(255, 186, 249);
  margin: 0;
}

header{
  background-color: rgb(169, 235, 255);
}

h1{
  margin: 0;
  padding: 2%;
  text-align: center;
}

.pedido{
  background-color: rgb(169, 235, 255);
  margin: 2%;
  width: 75%;
  height: 240px;
  text-align: center;
  border-radius: 10px;
}

label{
  line-height: 1.4; 
}

input{
  margin-bottom: 20px;
}

button{
  margin-top: 20px;
}

.principal{
  display: grid;
  place-items: center;
}